<table border="0" cellspacing="10" cellpadding="0">
    <tbody>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>
                        <img style="display:block" alt="Logo CG77" src="http://{{ app.request.host }}{{  asset('bundles/cgnewsletter/images/logo_footer.png') }}">
                    </td>
                    <td align="left">
                        <p style="padding:0;margin:8px 0 0 8px">
                            <font size="1" face="Arial, Helvetica, sans-serif" color="#000000" style="font-family:Arial,Helvetica,sans-serif;color:#000;font-size:11px">
                                Conseil général de Seine-et-Marne<br>
                                Hôtel du Département 77010 Melun cedex<br>
                                Tél. : <a target="_blank" value="+33164147777" href="tel:01%2064%2014%2077%2077">01 64 14 77 77</a><br><br>
                                &copy; CG77 2010
                            </font>
                        </p>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td align="right">
            <font face="Arial, Helvetica, sans-serif" style="font-size:12px">
                <a target="_blank" style="color:#009ee0" href="#dev">
                    &gt; Se désinscrire
                </a>
            </font>
        </td>
    </tr>
    </tbody>
</table>