<tr>
    <td align="center" colspan="3">
        <a target="_blank" title="Accueil" href="{{ path( "ez_urlalias", {"locationId": ezpublish.rootLocation.id} ) }}">
            <img width="700" height="148" border="0" style="display:block" alt="Accueil" src="http://{{ app.request.host }}{{  asset('bundles/cgnewsletter/images/header.jpg') }}">
        </a>
    </td>
</tr>